name: Notifier

on:
  push:
    branches: [master]
  issues:
    types: [opened, edited, deleted, pinned, unpinned, closed, reopened, assigned]

jobs:

  notifyTelegram:
    runs-on: ubuntu-latest
    steps:
    - name: send telegram notification
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: |
          ${{ github.actor }} create new ${{ github.event_name }} in ${{ github.repository }}.